<div class="offset-1 pt-5">
  <form class="col-8 offset-2" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <div class="ml-3 mr-3">
        <div class="row pt-3">
          <div class="col">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Username</mat-label>
              <input matInput id="login" formControlName="username" />
              <mat-error *ngIf="form.controls['username'].hasError('required')">
                Username is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Password</mat-label>
              <input
                matInput
                [type]="hidePassword ? 'password' : 'text'"
                id="password"
                formControlName="password"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword"
              >
                <mat-icon>{{
                  hidePassword ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <mat-error *ngIf="form.controls['password'].hasError('required')">
                Password is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <mat-card-actions class="justify-content-end mb-2 mr-3">
        <button mat-raised-button color="primary" type="submit" id="submit">
          Login
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
