<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card class="px-3">
    <mat-card-header class="justify-content-center">
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <div class="row pt-3">
      <div class="col">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" />
          <mat-error *ngIf="form.controls['username'].hasError('required')">
            Username is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row pt-2">
      <div class="col">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            id="password"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error *ngIf="form.controls['password'].hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <mat-card-actions class="justify-content-end mb-2">
      <button
        mat-stroked-button
        color="primary"
        class="me-2"
        type="button"
        (click)="goToRegister()"
      >
        New user?
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!form.valid"
      >
        Login
      </button>
    </mat-card-actions>
  </mat-card>
</form>
