<mat-drawer-container>
  <mat-drawer mode="side" #drawer>
    <div class="container py-5">
      <ng-container *ngIf="recipes$ | async as recipes">
        <mat-accordion>
          <div *ngFor="let recipe of recipes" class="mb-2">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> {{ recipe.name }} </mat-panel-title>
              </mat-expansion-panel-header>
              <p><strong>Ingredients:</strong></p>
              {{ recipe.ingredients }}
              <p><strong>Instructions:</strong></p>
              <p class="text-justify">{{ recipe.instructions }}</p>
            </mat-expansion-panel>
          </div>
        </mat-accordion>
      </ng-container>
      <div class="d-flex align-items-center justify-content-end">
        Missing a recipe?
        <button
          mat-raised-button
          color="basic"
          (click)="addRecipe()"
          class="ms-2"
        >
          Add yours
        </button>
      </div>
    </div>
  </mat-drawer>

  <mat-drawer-content
    ><div class="container-xl py-5">
      <div class="d-flex justify-content-between align-items-center">
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Search meals"
            #input
          />
        </mat-form-field>
        <ng-container *ngIf="isAdmin()">
          <input
            #fileInput
            hidden="true"
            onclick="this.value=null"
            (change)="uploadMeals($event)"
            type="file"
            accept=".csv"
          />
          <button mat-flat-button color="accent" (click)="fileInput.click()">
            Choose Spreadsheet File (CSV)
          </button>
        </ng-container>
      </div>
      <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8"
        matSort
      >
        <ng-container matColumnDef="meal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Meal</th>
          <td mat-cell *matCellDef="let element">
            {{ element.name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="calories">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Calories (kcal/100)
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.calories }}
          </td>
        </ng-container>
        <ng-container matColumnDef="proteins">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Proteins (g/100)
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.proteins }}
          </td>
        </ng-container>
        <ng-container matColumnDef="fats">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Fats (g/100)
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.fats }}
          </td>
        </ng-container>
        <ng-container matColumnDef="carbohydrates">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Carbohydrates (g/100)
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.carbohydrates }}
          </td>
        </ng-container>
        <ng-container matColumnDef="add">
          <th mat-header-cell *matHeaderCellDef>
            <button
              class="text-align-right"
              mat-mini-fab
              color="accent"
              aria-label="Add meal button"
              (click)="addMeal()"
            >
              <mat-icon>add</mat-icon>
            </button>
          </th>
          <td mat-cell *matCellDef="let element">
            <button
              class="text-align-right"
              mat-mini-fab
              color="primary"
              aria-label="Add meal to plan button"
              (click)="addEntry(element.mealId)"
            >
              <mat-icon>add</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          (click)="drawer.open(); getRecipesForMeal(row.mealId)"
          *matRowDef="let row; columns: displayedColumns"
        ></tr>
      </table>
      <mat-paginator
        class="mat-elevation-z8"
        [pageSizeOptions]="[20, 15, 10]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator></div
  ></mat-drawer-content>
</mat-drawer-container>
