<div class="container-xl pb-5">
  <div class="d-flex justify-content-center text-align-center pt-4 pb-3">
    <mat-button-toggle-group
      name="dayRow"
      aria-label="Day picker"
      class="mat-elevation-z8"
    >
      <ng-container *ngFor="let date of dates; let lastCall = last">
        <mat-button-toggle
          [value]="date"
          [checked]="lastCall"
          (change)="filterEntriesByDate($event.value)"
          >{{ date | date : "dd. MMMM" }}</mat-button-toggle
        >
      </ng-container>
      <mat-button-toggle mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>calendar_today</mat-icon>
      </mat-button-toggle>
      <mat-menu #appMenu="matMenu">
        <mat-calendar
          style="width: 15rem"
          [(selected)]="selectedDate"
          (selectedChange)="filterEntriesByDate(selectedDate)"
        >
        </mat-calendar>
      </mat-menu>
    </mat-button-toggle-group>
  </div>
  <div *ngFor="let type of this.types; let i = index">
    <ng-container>
      <div class="text-align-center pt-4 pb-3">
        <span class="title-text-font">{{ type }}</span>
      </div>
      <table mat-table [dataSource]="splittedData[i]" class="mat-elevation-z8">
        <ng-container matColumnDef="meal">
          <th mat-header-cell *matHeaderCellDef>Meal</th>
          <td mat-cell *matCellDef="let element">
            {{ element.meal.name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="calories">
          <th mat-header-cell *matHeaderCellDef>Calories (kcal)</th>
          <td mat-cell *matCellDef="let element">
            {{ ((element.meal.calories * element.amount) / 100).toFixed(0) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="proteins">
          <th mat-header-cell *matHeaderCellDef>Proteins (g)</th>
          <td mat-cell *matCellDef="let element">
            {{ ((element.meal.proteins * element.amount) / 100).toFixed(1) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="fats">
          <th mat-header-cell *matHeaderCellDef>Fats (g)</th>
          <td mat-cell *matCellDef="let element">
            {{ ((element.meal.fats * element.amount) / 100).toFixed(1) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="carbohydrates">
          <th mat-header-cell *matHeaderCellDef>Carbohydrates (g)</th>
          <td mat-cell *matCellDef="let element">
            {{
              ((element.meal.carbohydrates * element.amount) / 100).toFixed(1)
            }}
          </td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount (g)</th>
          <td mat-cell *matCellDef="let element">
            {{ element.amount }}
          </td>
        </ng-container>
        <ng-container matColumnDef="add">
          <th mat-header-cell *matHeaderCellDef>
            <button
              class="text-align-right"
              mat-mini-fab
              color="accent"
              aria-label="Add entry button"
              (click)="addEntry(type)"
            >
              <mat-icon>add</mat-icon>
            </button>
          </th>
          <td mat-cell *matCellDef="let element">
            <button
              class="text-align-right"
              mat-mini-fab
              color="warn"
              aria-label="Delete entry button"
              (click)="deleteEntry(element.mealEntryId)"
            >
              <mat-icon>clear</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </ng-container>
  </div>
</div>
<div class="mb-5"></div>
<footer class="mat-toolbar mat-elevation-z8">
  <div class="d-flex align-items-center">
    <!-- <div class="px-5">TOTALS</div> -->
    <div class="px-5">Calories: {{ totals["calories"].toFixed(0) }} kcal</div>
    <div class="px-5">Proteins: {{ totals["proteins"].toFixed(1) }} g</div>
    <div class="px-5">Fats: {{ totals["fats"].toFixed(1) }} g</div>
    <div class="px-5">
      Carbohydrates: {{ totals["carbohydrates"].toFixed(1) }} g
    </div>
    <div class="px-5">Amount: {{ totals["amount"] }} g</div>
  </div>
</footer>
